* { margin:0; padding:0; box-sizing:border-box; }

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Josefin Slab', serif;
}


button:focus { 
    outline: none; 
}

button::-moz-focus-inner {
  border: 0;
}

.basin {
    text-align: center;
    height: 50px;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Josefin Slab', serif;
}

.basin-box {
    text-align: center;
    height: fit-content;
    margin: 3%;
}

.basin-list {
    display: flex;
    justify-content: space-between;
}

.basin-list ul {
    display: block;
    margin: 0 10px;
}

.basin-list li {
    display: block;
    text-decoration: none;
}

.detail-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 3%;
}

.detail-box > button {
    margin: 0 10px;
    padding: 0 10px;
}

.intensity-display {
    text-align: center;
    height: 100%;
    width: fit-content;
    margin: 0 20px;
}

.intensity-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    text-align: center;
    height: 50px;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Josefin Slab', serif;
}

.text-box {
    text-align: center;
    height: fit-content;
    margin: 3%;
    min-height: 90px;
}

.name-label {
    font-size: 1.5em;
    font-weight: 600;
}

.root {
    height: 100%;
    width: auto;
}

.root-box {
    height: 100%;
    display: block;
}

.season {
    text-align: center;
    height: 50px;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Josefin Slab', serif;
}

.bottom-panel {
    background-color: #e7e3d9;
    width: 100%;
    height: 40%;
    overflow: scroll;
}

.bottom-inputs-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.title-box {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: 1%;
    width: 300px;
    height: 150px;
    background-color: #e7e3d9;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
}

.update {
    background-color: #ffffff;
    border: 1px solid #696966;
    outline: none !important;
}

.button {
    width: 50px;
    height: 50px;
}

.field {
    width: 100%;
}

.timeline-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
}

.year-input {
    width: 80px;
}

.year-label {
    font-size: 1.5em;
    font-weight: 600;
}

#all-data-points {
    width: 100px;
    height: 50px;
}

#detail-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detailed-paths {
    width: 100px;
    height: 50px;
    display: block;
    top: 0;
}

#float-info-box {
    display: none;
    position: absolute;
    background-color: #e7e3d9;
    bottom: 20%;
    margin: 2.5%;
    width: 20%;
    height: 70%;
}

#float-chart-box {
    display: block;
    position: absolute;
    background-color: #e7e3d9;
    bottom: 0;
    margin: 2.5%;
    width: 94%;
}

#hi-5 {
    background-color: #ff6060;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#hi-5:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-4 {
    background-color: #ff8f20;
}

#hi-4:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-3 {
    background-color: #ffc140;
}

#hi-3:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-2 {
    background-color: #ffe775;
}

#hi-2:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-1 {
    background-color: #ffffcc;
}

#hi-1:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-TS {
    background-color: #00faf4;
}

#hi-TS:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#hi-TD {
    background-color: #5ebaff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#hi-TD:hover {
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 60%;
}

#reset-fields {
    width: 100px;
    height: 50px;
    display: block;
    top: 0;
}

#reset-fields:hover {
    cursor: pointer;
    background-color: #eeeeee;
}


#saffir-link {
    text-decoration: none;
    color: #568dcc;
}

#saffir-link:hover {
    color: #155196;
}

#timeline {
    background-color: blue;
    height: 100%;
    width: 1000px;
}